:root {
    background: rgb(7, 10, 26);
    color :white
}

main{
    margin-left: 80px;
    margin-right: 80px;
}

.hd-up{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}



.hd-down{
    font-size: 15px;
    color: rgb(128, 128, 128);
    margin-left: 10px;
}

.nav{
    margin-top: 20px;
}

.ul-nav{
    display: flex;
    margin: 10px;
    background: rgb(14, 19, 47);
    border-width:20px ;
    border-top-width:20px ;
    border-bottom-width:20px ;
    border-radius: 5px;
    border-color: rgb(14, 19, 47);
}

.li-nav{
    margin-right: 10px;
}

.ip{
    background: rgb(43, 51, 92);
    border-width: 5px;
    border-color: rgb(43, 51, 92);
    border-radius: 5px;
}

.scan-button{
    background: rgb(26, 26, 162);
    border-width: 5px;
    border-color: rgb(26, 26, 162);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.scan-button:hover{
    background-color: rgb(51, 96, 194);
    border-color: rgb(51, 96, 194);
    cursor: pointer;
    color: rgb(199, 217, 249);
}

.ul-isi1{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-items: center;
}

.li-isi1{
    background-color: rgb(14, 19, 47);
    border-radius: 5px;
    padding: 30px;
    padding-right: 160px;
    margin-top: 10px;
    margin-right: 15px;
}

.status{
    display: flex;
}

.li-isi1-1{
    background-color: rgb(14, 62, 56);
    border-radius: 5px;
    padding: 30px;
    padding-right: 210px;
    margin-top: 10px;
    margin-right: 15px;
}

.ul-isi2{
    display: flex;
    margin: 10px;
}

.li-isi2{
    background-color: rgb(14, 19, 47);
    border-radius: 5px;
    padding-right: 635px;
    padding-bottom: 270px;
    margin-top: 10px;
}


.nav-bawah{
    margin:10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color:rgb(14, 19, 47) ;
    padding: 20px;
}

.ul-nav-bawah{
    display: flex;
    background-color: rgb(43, 51, 92) ;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.li-isi3{
    background-color: rgb(14, 19, 47);
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 15px;
    padding-right: 219px;
    margin-bottom: 200px;
    padding-bottom: 40px;
}

.judul-no-on{
    display: flex;
    font-weight: bold;
}
.no-on{
    margin-left: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}